.card {
    border: solid 1px #C0C0C0;
    margin-top: -35px !important;
    //width: 119% !important;
//     position: relative;
//     overflow: hidden;
//     border-radius: 8px;
//     cursor: pointer;
//     width: 100% !important;
//     height: 100% !important;
margin-bottom: 5000px !important;
}

//@media (min-width: 768px)
.col-md-7 {
    flex: 0 0 auto;
    width: 100.333333% !important;
    margin-left: 0 !important;
    padding-bottom: 1000px !important;
    //margin-bottom: 5000px !important;


}

button {
    text-transform: none;
    margin-left: 1469px;
    margin-top: 55px;
    background-color: #6c757d !important;
    border: 1px solid  #6c757d!important;
    color: #fff;
    border-radius: 1.25rem!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.h5, h5 {
    font-size: 1.25rem;
    float: left;
    margin-left: -6%;
    margin-top: 9px;
}

.rounded {
    border-radius: 1.25rem!important;
    float: left;
}

.mt-2 {
    margin-top: -1.5rem!important;
    float: right;
}
.ri{
    color: #053b6e;
    font-family: bold;
    font-size: 23px;
}